*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    margin: 4% 0;
}

.content{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.box{
    width: 100%;
    height: 80vh;

}

registration{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    "title"
    "input"
    "input"
    "promotion"
    "save";
}

/*TITULO DA PÁGINA*/
.title{
    font-size: 2vw;
    height: 25%;
    grid-area: title;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title-menu{
    margin-top: -30px;
    
}

/*INFOS DE CADASTRO*/
.input-infos{
    height: 35%;
    grid-area: input;
    background-color: blue;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.input-infos input{
    width: 80%;
    height: 5vh;
}

.input-infos h2{
    margin-top: 10px;
}




.promotion{
    height: 25%;
    grid-area: promotion;
    background-color: green;
}

.save-button{
    height: 15%;
    grid-area: save;
    background-color: tomato;
}