*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    margin: 2.5% 0;
}

.content{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.box{
    width: 100%;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgb(66, 66, 66);
}

registration{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    "title"
    "input"
    "input"
    "promotion"
    "save";
}

/*TITULO DA PÁGINA*/
.title{
    font-size: 2vw;
    height: 25%;
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title-menu{
    margin-top: -30px;
    
}

/*INFOS DE CADASTRO*/
.input-infos{
    height: 35%;
    grid-area: input;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.input-infos input{
    width: 80%;
    height: 5vh;
}

.input-infos h2{
    padding-top: 10px;
}

/*INFOS PROMOÇÃO*/

.promotion{
    height: 25%;
    grid-area: promotion;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.promotion h2{
    font-size: 2vw;
    padding-top: 25px;
    padding-bottom: 20px;
}

.promotion input{
    width: 1.5rem;
    height: 1.5rem;
}

#promocao-nao{
    margin-left: 100px;

}

#form-promo span{
    margin-left: 10px;
    font-size: 1.6rem;
}

/*BOTÃO DE SALVAR AS INFORMAÇÕES*/

.save-button{
    height: 15%;
    grid-area: save;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-save{
    width: 15rem;
    height: 2.5rem;
    background-color: #F54749;
    border-radius: 15px;
}