@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
    /* tirando margin e padding de toda a página, inicialmente */
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;

}

body{
    background-image: url(/imgs/background_food_loopis.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    margin: 2.5% 0;
    font-size: 2.2vw;
}

header span{
    color: red;
}

.content{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.box{
    color:#F8B195;
    width: 100%;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgb(66, 66, 66);
    background-color: white;
}

registration{
    display: grid;
    grid-template-areas:
    "title"
    "input"
    "input"
    "promotion"
    "save";
}

/*TITULO DA PÁGINA*/
.title{
    font-size: 2vw;
    height: 25%;
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title-menu{
    margin-top: -30px;
    
}

/*INFOS DE CADASTRO*/
.input-infos{
    height: 35%;
    grid-area: input;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}

.input-infos input{
    font-size: 20px;
    width: 80%;
    height: 8vh;
}

.input-infos h2{
    font-size: 1.5vw;
    padding-top: 10px;
}

/*INFOS PROMOÇÃO*/

.promotion{
    height: 25%;
    grid-area: promotion;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.promotion h2{
    font-size: 2vw;
    padding-top: 1vw;
    padding-bottom: 20px;
}

.promotion input{
    width: 2vw;
    height: 2vw;
}

#promocao-nao{
    margin-left: 100px;

}

#form-promo span{
    margin-left: 1vw;
    font-size: 1.6vw;
}

/*BOTÃO DE SALVAR AS INFORMAÇÕES*/

.save-button{
    height: 15%;
    grid-area: save;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-save{
    border: 0;
    cursor: pointer;
    width: 15vw;
    height: 3vw;
    background-color: #F54749;
    border-radius: 15px;
    color:white;
    font-size: 1rem;
}

/*PÁGINA DE PRODUTOS*/

products{
    display: grid;
    grid-template-areas: 
    "title"
    "product"
    "product"
    "product"
    "product";
}

.product-list{
    grid-area: product;
    height: 12,5%;
    display: flex;
    flex-direction: column;
    
}

.product{
    margin-top: 10px;
    background-color: #F8B195;
    border-radius: 15px;
    height: 12vh;
    display: flex;
    width: 28vw;
    margin-left: 4%;
    box-shadow: 1px 1px 1px rgb(66, 66, 66);
}

.box-product{
    display: grid;
    grid-template-areas: "img" "price" "price" "button";
    display: flex;
    justify-content: center;
    align-items: center;
}

.product img{
    grid-area: img;
}

.product p{
    color: black;
    display: flex;
    font-size: 1rem;
    grid-area: price;
}

.button-remove{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.button-remove button{
    grid-area: button;
    cursor: pointer;
    color: white;
    background-color: #F54749;
    border-radius: 15px;
    width: 100px;
    height: 2.5rem;
    border: 0;
}

#button-save:hover {
    transition: background 0.5s;
    background-color: #F8B195;
}

.button-remove button:hover{
    transition: background 0.5s;
    background-color: #ad7762;
}





